version: "3.8"
services:
  mongodb:
    image: mongo:8.2.1
    volumes:
      - data:/data/db
    container_name: mongodb
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: secret
    #  - MONGO_INITDB_ROOT_USERNAME=root
    env_file:
      - ./env/mongo.env
    # network:
    #   - goals-net
  backend:
    build: ./backend
    container_name: backend
    # build:
    #   context: ./backend
    #   dockerfile: Dockerfile
    # args:
    #   some-arg: 1
    ports:
      - "80:80"
    volumes:
      - logs:/app/logs
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./env/backend.env
    depends_on:
      - mongodb
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
volumes:
  data:
  logs:
